:root{

  --bg:#0a0a0c;
  --text:#e6e6e6;
  --muted:#a8a8a8;

  --card:#1a1a1c;
  --tableBg:#141416;

  --border:#2b2b30;

  --thBg:#262629;
  --thGroup:#311516;

  --hlRow:#1e1516;
  --hlCell:#731616;

  --input-bg:#111214;
  --button-bg:#731616;
  --button-hover:#a61a1a;
  --title:#ff4242;
}

body{
  margin:0;
  font-family:Segoe UI, Arial;
  background:var(--bg);
  color:var(--text);
}

.wrap{
  max-width:1200px;
  margin:auto;
  padding:16px;
}

.top{
  background:#00000070;
  border-bottom:1px solid var(--border);
  position:sticky;
  top:0;
  z-index:10;
}

h1{
  margin:0;
  font-size:24px;
  color:var(--title);
  font-weight:800;
}

.controls{
  display:flex;
  flex-wrap:wrap;
  gap:10px;
  margin-top:10px;
}

.controls select,
.controls input,
.controls button{
  height:36px;
  padding:0 10px;
  background:var(--input-bg);
  color:var(--text);
  border-radius:6px;
  border:1px solid var(--border);
}

.controls button{
  background:var(--button-bg);
  cursor:pointer;
}

.controls button:hover{
  background:var(--button-hover);
}

/* TABLE */

.card{
  background:var(--card);
  border-radius:12px;
  padding:16px;
  border:1px solid var(--border);
  margin-bottom:14px;
}

.table-wrap{ overflow:auto; }

table{
  border-collapse:collapse;
  min-width:1100px;
  width:100%;
  background:var(--tableBg);
}

th, td{
  border:1px solid var(--border);
  padding:8px;
  text-align:center;
}

th{
  background:var(--thBg);
  color:var(--text);
}

th.group{
  background:var(--thGroup);
}

.hl-row td{
  background:var(--hlRow);
}

.hl-cell{
  background:var(--hlCell)!important;
  font-weight:700;
}

/* torque section */

.torque-grid{
  display:grid;
  grid-template-columns: repeat(3, minmax(180px,1fr));
  gap:12px;
}

.torque-grid button{
  background:var(--button-bg);
  border:1px solid var(--border);
  height:36px;
  color:white;
  cursor:pointer;
}

.torque-grid button:hover{
  background:var(--button-hover);
}

.result{
  margin-top:16px;
  min-height:40px;
  border:1px solid var(--border);
  padding:10px;
  border-radius:8px;
}

/* responsive */

@media(max-width:900px){
  .torque-grid{
    grid-template-columns:1fr;
  }
}
